@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#300030];
}

.linea-menu {
  display: block;
  position: relative;
  height: 2px;
  width: 40px;
  background-color: #f6f6f9;
  top: -5px;
  margin-top: 10px;
  cursor: pointer;
  transform-origin: 0px 100%;
  transition: all 0.4s;
}
